extends layout

block content
  h1= title
  p To get a list of spatial datasets, try '/spatial/list'
  p To get a list of tabular datasets, try '/tabular/list'
  p To get a spatial dataset, try '/spatial/a_dataset_name'
  p Same goes with tabular, just replace 'spatial' above with 'tabular'